extends ../_layouts/master

block content
  div(class="contaniner")
    h1(class="text-center") 股票 List : #{stockName}
    table(class='stock-table table table-success table-striped table-hover')
      tr 
        th 股票代號
        th 股票名字
      each stock in stocks
        tr 
          td 
            a(href=`/stock/${stock.stock_id}`)
              #{stock.stock_id}
          td #{stock.stock_name}
       
    
  