doctye html
html
  head
    title Pug Pratice index 
    meta(chartset="utf-8")
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/mystyle.css')

  body 
    include header 
    block content
    include footer

    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    block scripts 