doctye html
html
  head
    title Pug Pratice index 
    meta(chartset="utf-8")
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/mystyle.css')

  body 
    include header 
    block content
    include footer

    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.2/underscore-min.js") 
    block scripts 